/.idea/.idea.SimpleShooter/
/.vs/SimpleShooter/v15/
/Binaries/Win64/
/Intermediate/
/Saved/
/SimpleShooter.sln
Binaries
DerivedDataCache
Intermediate
Saved
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Dynamic/Levels/FirstPersonExampleMap_BuiltData.uasset
.vs/S05_TestingGrounds/v15/ipch/
.vs/